@using negocio.Models
@{
    
    ViewData["Title"] = "Atualizar Cliente";
}

<div class="text-center">
    <h1 class="display-4">Atualizar Cliente</h1>
</div>
<br />
<div class="alert alert-danger" role="alert">
  @ViewBag.erro
</div>
<hr>
<a href="/clientes" class="btn btn-secondary">Voltar</a>

