@using negocio.Models
@{

    ViewData["Title"] = "Clientes";
}

<div class="text-center">
    <h1 class="display-4">Lista de Clientes</h1>
</div>

<hr />
    <a href="/clientes/novo" class="btn btn-primary">Novo</a>
<hr />

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th style="width: 30px;" scope="col">EDITAR</th>
      <th style="width: 30px;" scope="col">APAGAR</th>
    </tr>
  </thead>
  <tbody>
        @foreach (Cliente cliente in ViewBag.clientes)
        {
              <tr>
              <th scope="row">@cliente.Id</th>
                <td>@cliente.Nome</td>
                <td>@cliente.Email</td>
              <td>
                  <a href="/clientes/@cliente.Id/editar" class="btn btn-warning">EDITAR</a>
            </td>
            <td>
                 <a href="#" onclick="excluir(@cliente.Id)" class="btn btn-danger">APAGAR</a>
            </td>
            </tr>
        }

      </tbody>
</table>
<script>
    const excluir = (id) =>{
        if(confirm("Confirma?")){
            window.location.href = '/clientes/'+id+'/apagar'
        }
    }

</script>

